{{scroll-top}}
<section class="page api-keys">
  <div class="api-keys-top-bar">
    <h1>
      API keys
    </h1>

    {{#link-to 'api-key' 'new' tagName='button' class='btn-primary add-api-key'}}New API key{{/link-to}}
  </div>

  {{remove-confirm-dialog open=confirmDialogOpen itemName=apiKeyToRemoveName closeAction=(action 'closeConfirmDialog') confirmAction=(action 'confirmRemove')}}

  <section class="search-result-container">
    <span class="search-result-info">There is a total of <span class="search-value">{{model.totalCount}}</span> registered API keys.</span>
    <ul>
      {{#each model.items as |apiKey|}}
        {{#unless apiKey.deleted}}
          <li>
            <article class="column-container">
              <div class="column">
                <div class="api-key-name">
                  <h1>{{apiKey.firstName}} {{apiKey.lastName}}</h1>
                  <span class="organisation">{{apiKey.organisation}}</span>
                  <span class="email">{{apiKey.email}}</span>
                </div>
              </div>
              <div class="column">
                <div class="api-key-stats">
                  <span class="last-access">{{format-date apiKey.lastAccess format='YYYY-MM-DD HH:mm'}}</span>
                  <span class="request-counter">{{apiKey.requestCounter}}</span>
                </div>
              </div>
              <div class="column interaction-column">

                {{#link-to 'api-key' apiKey.id tagName='button' class='btn edit-api-key-btn' }}
                  <span class="btn-text">Edit</span>
                {{/link-to}}

                <button class="btn remove-author-btn" {{action 'showConfirmDialog' apiKey}}>
                  <span class="btn-text">Remove</span>
                </button>
              </div>
            </article>
          </li>
        {{/unless}}
      {{/each}}
    </ul>
  </section>
</section>