{{scroll-top}}
<section class="page dashboard">
  <div>
    <h1>Welcome {{session.data.authenticated.name}}!</h1>
  </div>

  {{yr-forecast forecast=forecast}}

  {{#each sensors.items as |sensor|}}
    {{#if (eq sensor.type 'temperature')}} 
      {{temperature-graph sensorId=sensor.id}}
    {{/if}}
  {{/each}}

  {{#each cameras.items as |camera|}}
    {{latest-camera-image cameraId=camera.id showPlayButton=true}}
  {{/each}}
</section>