{{scroll-top}}
<section class="page dashboard">
  <div>
    <h1>Welcome {{session.data.authenticated.name}}!</h1>
  </div>

  {{yr-forecast forecast=forecast}}

  {{temperature-table sensors=sensors.items}}

  {{#each cameras.items as |camera|}}
    {{latest-camera-image cameraId=camera.id showPlayButton=true}}
  {{/each}}
</section>